---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/cash_dispensers.json?categorySet=7315&key=F70a0XDiQnlZZnvJjzEGjm2wcSAKoKwv&lat=35.077529&lon=-106.600449
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - b45efbde-bf9d-4ed3-909d-3f437e557961
      X-Apigee.target-Latency:
      - '110'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"cash_dispensers","queryType":"NON_NEAR","queryTime":107,"numResults":0,"offset":0,"totalResults":0,"fuzzyLevel":3,"geoBias":{"lat":35.077529,"lon":-106.600449},"geobiasCountry":"US"},"results":[]}'
  recorded_at: Thu, 31 Aug 2023 22:58:07 GMT
recorded_with: VCR 6.2.0
